body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
#qrForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
    padding: 50px;
}
#qrcode{
    margin-top: 30px;
}
input{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size: 14px;
}
h2{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}
label{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}
button{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 16px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #000;
}
button:hover{
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

#downloadButton{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 16px;
    width: 260px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}
#downloadButton:hover{
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}
.logo{
    width: 70px;
    padding-top: 30px;
}
@media (max-width: 360px){
    body{
        width: auto;
    }
    .logo{
        width: 80px;
    }
    #qrcode{
        width: auto;
    }
}

.logout{
    padding: 10px;
}
.logout a{
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.logout a:hover{
    text-decoration: underline;
}